
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #111;
  color: white;
}
header {
  background: #0fffc1;
  color: #000;
  padding: 20px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  background: #222;
}
nav button {
  margin: 10px;
  padding: 10px 20px;
  background: #0fffc1;
  color: black;
  border: none;
  cursor: pointer;
}
main {
  padding: 20px;
}
input, button {
  padding: 10px;
  margin: 5px;
}
.aba {
  display: none;
}
